$theme-colors: (
  "primary": #38B2AC,
  "gray-light": #adb5bd,
  "light": #F7FAFC
  
);
$enable-shadows: true;
$h6-font-size: 14px;
$enable-responsive-font-sizes: true;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';